<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/mp.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Zayoona Mall Managment system</h5>
      <li>Our First Solution</li>
      <p>
        Zayoona mall managment system is a solution we provide with love to a wondefull customer
        to manage the all mall parts stores,accounting, auto electricety payment,notifications, simple HR and more
        the development is on going to achive the best result for our customer 
      </p>
      <a class="project-link" href="https://www.facebook.com/zayoonamall/">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/coffee.jpg" | prepend: site.baseurl }}"/>
    </div>
    <div class="six columns">
      <h5> Bon Al diafa</h5>
      <ul>
        <li>Bon AL diafa Coffee factory</li>
      </ul>
      <p>
        delicions coffee need smart system to success our so we provide them with customized accounting,HR systems with smart solutions to ensure 
        they have no lost in there incomming and profit
      </p>
      <a class="project-link" href="https://www.facebook.com/%D8%A8%D9%86-%D8%A7%D9%84%D8%B6%D9%8A%D8%A7%D9%81%D8%A9-935040619862942/">Check it out</a>
    </div>
  </div>
</div>
